@import url(https://fonts.googleapis.com/css?family=PT+Sans);
* {
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif; }

header {
  background: linear-gradient(to bottom, black, transparent); }

#title {
  display: inline-block;
  padding-left: 20px;
  color: white; }

.nav-bar {
  display: inline-block;
  float: right;
  margin: 20px 0px; }
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .nav-bar ul li {
      display: inline;
      padding-right: 2.0em;
      color: white; }

#first-hero-container {
  background-image: url("../vendor/stock-sushi-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em; }

.about-us {
  padding-top: 1em;
  background-color: #D0F0C0; }

#about-us-text {
  display: inline-block;
  width: 40%;
  line-height: 25px;
  padding-left: 20px; }

#about-us-photo {
  display: inline-block;
  height: 20em;
  width: 48%;
  float: right;
  background-image: url("../vendor/stock-food-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.days {
  display: inline-block;
  text-align: left; }
  .days ul {
    list-style-type: none; }

.times {
  display: inline-block;
  text-align: left; }
  .times ul {
    list-style-type: none; }

.locations {
  text-align: center; }

.location-lex {
  display: inline-block; }

.location-cre {
  display: inline-block; }
